PORT=5000
MONGO_URI=mongodb+srv://soorshreyanshi_db_user:PidduXL6@cluster0.j2byysh.mongodb.net/job-portal?retryWrites=true&w=majority
JWT_SECRET=seekforgeeks_secret_key_2026
JWT_EXPIRE=7d
NODE_ENV=development